<div class="container">
  <form>
    <input
      type="password"
      #passwordInput
      (input)="inputHandler(passwordInput.value)"
      placeholder="Please, enter the password"
    />
  </form>

  <div class="password-strength">
    <span
      [ngClass]="{
        red: (passwordInput.value && heft === 0) || heft === 1,
        yellow: heft === 2,
        green: heft === 3
      }"
    ></span>
    <span
      [ngClass]="{
        red: passwordInput.value && heft === 0,
        yellow: heft === 2,
        green: heft === 3
      }"
    ></span>
    <span
      [ngClass]="{
        red: passwordInput.value && heft === 0,
        green: heft === 3
      }"
    ></span>
  </div>
</div>
